.drawer-container {
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 20vw;
  background-color: var(--secondary-color);
  color: var(--white);
  border-right: none;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .sidebar-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: var(--white);
  }
}

.main-toolbar {
  background-color: var(--secondary-color);
  color: var(--white);

  mat-icon {
    color: var(--white);
  }

}

mat-nav-list {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  a[mat-list-item] {
    span {
      color: var(--white);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.1);

      mat-icon {
        color: var(--primary-color);
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    mat-icon {
      color: var(--white);
      margin-right: 12px;
    }
  }
}

.mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  mat-icon {
    color: var(--white)
  }
}

@media (max-width: 990px) {
  .sidebar {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 80vw;
  }
}