<div class="main-content">

  <div class="page-header">
    <h1 class="page-title">Agenda de Eventos</h1>
    <button class="btn btn-primary" (click)="back()">Retornar para página inicial</button>
  </div>

  <div class="calendar-container">

    <div class="header-calendar">

      <div class="header-nav btn-group">
        <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          Anterior
        </button>
        <button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Hoje
        </button>
        <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Próximo
        </button>
      </div>

      <h3 class="header-title">
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-BR' }}
      </h3>

      <div class="header-views btn-group">
        <button class="btn btn-primary" (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          Mês
        </button>
        <button class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week"
          [class.disabled]="true">
          Semana
        </button>
        <button class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day"
          [class.disabled]="true">
          Dia
        </button>
      </div>
    </div>

    <br />

    <div class="calendar-body">
      @switch(view){
      @case (CalendarView.Month) {
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
      </mwl-calendar-month-view>
      }
      @case (CalendarView.Week) {
      <mwl-calendar-week-view [viewDate]="viewDate" [events]="events">
      </mwl-calendar-week-view>
      }
      @case (CalendarView.Day) {
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="events">
      </mwl-calendar-day-view>
      }
      }
    </div>
  </div>

</div>