<h2 mat-dialog-title>Atualizar Festa</h2>
<mat-dialog-content>
    <app-form [group]="formGroupItens" [form]="form"></app-form>
    @if (listValues.length > 0) {
        <div class="desktop-view">
            <div class="table">
                <div class="table-header">
                    <div class="title">
                        Tipo
                    </div>
                    <div class="title">
                        Valor
                    </div>
                    <div class="title">
                        Ações
                    </div>
                </div>
                @for (item of listValues; track $index) {
                    <div class="table-row">
                        <div class="title">
                            {{item.employeeType.type}}
                        </div>
                        <div class="title">
                            {{item.value}}
                        </div>
                        <div class="title">
                            <button mat-icon-button (click)="deleteValue(item)">
                                <mat-icon fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="mobile-view">
            <div class="cards-list">
                @for (item of listValues; track $index) {
                    <app-data-card [title]="item.employeeType.type" [items]="getValueCardItems(item)">
                        <div actions>
                            <button mat-icon-button (click)="deleteValue(item)">
                                <mat-icon fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </app-data-card>
                }
            </div>
        </div>
    }
    <div class="button">
        <button mat-button mat-dialog-close class="btn btn-secondary">
            Fechar
        </button>
        <button mat-button class="btn btn-primary" (click)="updateParty()">
            Atualizar
        </button>
    </div>
</mat-dialog-content>