<form>
  <div class="row" [class.responsive-row]="responsive()">
    @for (item of group(); track $index) {
      <div class="col-{{item.size}}">
        @if (isInput(item)) {
          <app-input
            [form]="form()"
            [type]="item.type"
            [label]="item.label"
            [formControl]="item.controlName"
            [placeholder]="item.placeholder"
            [mask]="item.mask"
            [maxlength]="item.maxlength ?? null"
            [hidden]="item.hidden ?? false"
          ></app-input>
        } @else if (isSeleect(item)) {
          <app-select
            [form]="form()"
            [label]="item.label"
            [formControl]="item.controlName"
            [options]="item.options ?? []"
          ></app-select>
        }
      </div>
    }
  </div>
</form>