<div class="login-container">
  <app-home-page-side></app-home-page-side>
  <div class="login-form-section">
    <div class="login-header">
      <div class="login-options">
        <span class="login-option">Ainda não tem uma conta?</span>
        <a class="signup-link" routerLink="/register">Cadastre-se</a>
      </div>
    </div>
    <div class="login-form-container">
      <h1 class="login-title">Faça seu Login</h1>
      <p class="login-subtitle">Entre com a sua plataforma de preferência</p>

      <div class="google-button-wrapper">
        @if (!isGoogleButtonLoaded) {
        <div class="google-button-loading">
          <div class="spinner"></div>
          <span>Carregando login com Google...</span>
        </div>
        }
        <div id="google-signin-button"></div>
      </div>

      <div class="divider">
        <span>Ou entre com seu usuário e senha</span>
      </div>

      <app-form [group]="formGroupItens" [form]="formGroup"></app-form>
      <button mat-button class="btn btn-login" (click)="login()">
        <mat-icon fontIcon="login"></mat-icon>
        Entrar
      </button>

      <p class="terms-text">
        Este site é protegido por reCAPTCHA e pela
        <a href="#">Política de Privacidade do Google</a>.
      </p>
    </div>
  </div>
</div>