  <div class="content-wrapper">
      @for (item of listDashboard(); track $index) {
      <div class="waiters-grid">
        <div class="waiter-card">
          <div class="waiter-header">
            <h3 class="waiter-name">
              <mat-icon class="waiter-icon" fontIcon="person"></mat-icon>
              Garçom: {{ item.name}}
            </h3>
          </div>
          <div class="waiter-stats">
            <div class="stat-item">
              <span class="stat-label">
                <mat-icon class="stat-icon" fontIcon="event"></mat-icon>
                Festas na semana: {{ item.totalParties}}
              </span>
            </div>
            <div class="waiter-stats">
              <span class="stat-label">
                <mat-icon class="stat-icon" fontIcon="person_apron"></mat-icon>
                Tipo: {{ item.employeeType.type}}
              </span>
            </div>
            <div class="stat-item">
              <span class="stat-label">
                <mat-icon class="stat-icon" fontIcon="attach_money"></mat-icon>
                Total a receber: R${{item.valueTotal}}
              </span>
              <button class="btn btn-primary" (click)="onDownload(item.id, item.name)">
                Relatório
                <mat-icon fontIcon="description"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <mat-paginator [length]="totalElements()" [pageSize]="pageSize()" (page)="onPageChange($event)"
        hidePageSize></mat-paginator>
      <app-summary></app-summary>
    </div>